/* src/Weather.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #deb49c;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
  input, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 6px;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info p {
    margin: 5px 0;
  }